@media print {

    @page {
      width: 80mm;
      margin: 0 auto; 
    }
    .whenprint{
      display: none;
    }
    .order-type{
      margin-top:0px;
padding-top: 0;
    }
    .name{
      display:block;
    }
    }
    
  
    table tbody tr td {
      margin: 0px 0px ;
      border: 0px;
      padding: 0px;
    }
    .order-type{
      margin-top:20px;

    }
    .name{
      display: none;
    }