.title{
    color: rgb(46, 46, 46);
}
@media print {
 
  @page {
    width: 80mm;
    margin: 0 auto; 
     font-size: 16px;
  }
  .when-print{
    display: none;
  }
    
  }
  .sum-price{
    width: 100%;
    padding: 12px;
    height: 50px;
    color: #fff;
    background-color:#FD720D;
  }