
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
body{
    font-family: 'Kanit', sans-serif;
}

.title{
    color: rgb(46, 46, 46);
}
.total-tb{
  display: none;
}

.get-order{
  display: none;
}
 .title-heading{
  font-weight: bold;
    color: #FD720D;
  }
.sidebar{
  position: fixed;
  top:0;
  left:-260px;
  width:260px;
  height:100%;
  background:white;
  z-index:1001;
  transition:0.3s;
  padding-top:70px;
  box-shadow:2px 0 10px rgba(0,0,0,0.2);
}

.sidebar.show{
  left:0;
}

.sidebar .nav-link{
  padding:15px 20px;
  color:#333;
  font-size:16px;
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  z-index:1000;
}

@media print {
 
  @page {
    width: 80mm;
    margin: 0 auto; 
     font-size: 16px;
  }
  .when-print{
    display: none;
  }
  .get-order{
    display: block;
  }
    .total-tb {
      display: block;
    }
  }
  .sum-price{
    width: 100%;
    padding: 12px;
    height: 50px;
    color: #fff;
    background-color:#FD720D;
  }
  .card-report-1{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #FD720D;
    border-radius: 8px;
  }
 
  .card-report-2{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #0c8ab1;
      border-radius: 8px;
  }
  .card-report-3{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #b30a9c;
      border-radius: 8px;
  }

  .sidebar {
  background: #fff;
  border-right: 1px solid #eee;
}

/* desktop */
@media (min-width: 768px) {
  .sidebar {
    position: relative;
    left: 0 !important;
    height: 100vh;
  }

  .mobile-header {
    display: none;
  }
}

