.title{
    color: rgb(46, 46, 46);
}
@media print {
 
  @page {
    width: 80mm;
    margin: 0 auto; 
     font-size: 16px;
  }
  .when-print{
    display: none;
  }
    
  }
  .sum-price{
    width: 100%;
    padding: 12px;
    height: 50px;
    color: #fff;
    background-color:#FD720D;
  }
  .card-report-1{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #FD720D;
    border-radius: 8px;
  }
  .card-report-2{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #0c8ab1;
      border-radius: 8px;
  }
  .card-report-3{
    font-size: 18px;
    padding: 8px;
    color: #fff;
    background-color: #b30a9c;
      border-radius: 8px;
  }